<h1>Send Coordinates to Server</h1>
  <form (ngSubmit)="onSubmit()" #coordsForm="ngForm">
    <div class="form-group">
      <label for="parameteriseInput">Parameterise Input</label>
      <textarea type="text" class="form-control" id="parameteriseInputTextArea" required
        [(ngModel)]="parameteriseInput" name="parameteriseInput" style="height:280px">
      </textarea>
      <div [hidden]="jsonValid" class="alert alert-danger">
        {{jsonErrorMessage}}
      </div>
    </div>
    <button type="submit" class="btn btn-default"
      [disabled]="!coordsForm.form.valid">Submit</button>
  </form>

<div *ngIf="parameterisationResult">
  <p>Width: {{parameterisationResult.width}}</p>
  <p>Length: {{parameterisationResult.length}}</p>
</div>




<!--<h1>{{title}}</h1>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>-->

<my-hero-detail [hero]="selectedHero" id="my-hero-detail"></my-hero-detail>
<my-hero-form id="my-hero-form"></my-hero-form>
<my-raw-coordinates
  [parameteriseInput]="parameteriseInput"
  id="my-raw-coordinates">
</my-raw-coordinates>

<my-plot
  [parameteriseInput]="parameteriseInput"
  id="my-plot">
</my-plot>
